:root {
	--font-family-apple: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
	--font-family-code: ui-monospace, Menlo, Consolas, Monaco, monospace;
	--font-family-default: Helvetica, Arial, sans-serif;
	--font-family-segoe: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
	--font-family-system-fds: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
}
body {
	font-family: SFProDisplay-Regular,Helvetica,Arial,sans-serif;
	font-size: 24px;
	background-color: #f2f4f7;
	text-align: center;
	padding: 6% 24%;
}
#global {
	width: 990px;
}
#tili {
	float: left;
	width: 580px;
}
.til {
	box-sizing: border-box;
	padding: 50px 0 16px;
}
#tilmain {
	width: 350px;
	position: relative;
	height: 106px;
	right: 160px;
	top: 20px;
	margin: -28px;
	z-index: 1;
}
.tinfo {
	text-align: left;
}
#timain {
	font-family: SFProDisplay-Regular,Helvetica,Arial,sans-serif;
	position: relative;
	bottom: 10px;
	font-size: 28px;
	font-weight: 400;
	line-height: 32px;
	width: 500px;
	z-index: 2;
}
#uip {
	display: inline-block;

}
#uila {
	display: inline-block;
	width: 400px;
	background-color: #fff;
	border-radius: 8px;
	border-style: none;
	box-shadow: 0 2px 4px #0000001a,0 8px 16px #0000001a;
}
#uil {

}
#uilfli {

}
.uilflifep {
	margin: 10px;
}
#uilflife {
	font-size: 16px;
	border-radius: 6px;
	border-style: solid;
	padding: 14px 16px;
	width: 330px;
	margin: 8px;
}
#uilflifp {
	font-size: 16px;
	border-radius: 6px;
	border-style: solid;
	padding: 14px 16px;
	width: 330px;
}
#uilflifb {
	border-color: #365899;
	font-size:20px;
	font-weight: 700;
	border-style: none;
	border-radius: 6px;
	line-height: 48px;
	padding: 0 16px;
	background-color: #1877f2;
	color: white;
	width: 366px;
}
#uilfidnkp {

}
#uilfdnkpl {
	text-decoration: none;
	font-size: 14px;
	font-weight: 500;
	color: #0866ff;
}
#uia {
	border-style: none;
	border-top: 1px solid rgba(0, 0, 0, .3);
	padding: 10px;
	margin: 20px;
}
#uiaf {
	margin-bottom: 15px;
	margin-top: 10px;

}
#uiafcna {
	background-color: #36a420;
	border-color: #36a420;
	border-style: none;
	color: white;
	font-weight: 700;
	border-radius: 6px;
	font-size: 17px;
	line-height: 48px;
	padding: 0 16px;
}
#uinp {

}
a:hover {
	text-decoration:underline;
}
a {
	cursor: pointer;
}
#uinpcl {
	border-top: none;
	color: #1c1e21;
	font-family: SFProText-Regular,Helvetica,Arial,sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding-top: 0;
	text-decoration: none;
	font-weight: 600;
}
#uinpct {
	border-top: none;
	color: #1c1e21;
	font-family: SFProText-Regular,Helvetica,Arial,sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding-top: 0;
	width: 400px;
}
.bhcla:hover {
	cursor: pointer;
}
